

.post-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px; 
  }
  
 
  .post-card {
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s; /* Hiệu ứng chuyển tiếp cho bóng */
  }
  
  .post-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tăng hiệu ứng bóng khi hover */
  }
  
  /* Media Queries cho kích thước màn hình nhỏ hơn */
  @media (max-width: 1024px) {
    .post-list {
      grid-template-columns: repeat(3, 1fr); /* 3 cột cho màn hình nhỏ hơn */
    }
  }
  
  @media (max-width: 768px) {
    .post-list {
      grid-template-columns: repeat(2, 1fr); /* 2 cột cho màn hình rất nhỏ */
    }
  }
  
  @media (max-width: 480px) {
    .post-list {
      grid-template-columns: 1fr; /* 1 cột cho màn hình cực nhỏ */
    }
  }
  